NET "a" LOC = P51 | IOSTANDARD = LVTTL;
NET "b" LOC = P41 | IOSTANDARD = LVTTL;
NET "ci" LOC = P35 | IOSTANDARD = LVTTL;
NET "s" LOC = P33 | IOSTANDARD = LVTTL;
NET "co" LOC = P30 | IOSTANDARD = LVTTL;